@model MyLibraryV2.Models.Book

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Book</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BookName" class="control-label"></label>
                <input asp-for="BookName" class="form-control" />
                <span asp-validation-for="BookName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hight" class="control-label"></label>
                <input asp-for="Hight" class="form-control" />
                <span asp-validation-for="Hight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Width" class="control-label"></label>
                <input asp-for="Width" class="form-control" />
                <span asp-validation-for="Width" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShelfNumber" class="control-label"></label>
                <select asp-for="ShelfNumber" class="form-select" asp-items="ViewBag.ShelfId"></select>
                <span asp-validation-for="ShelfNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="libraryId" class="control-label">Genre</label>
                <select id="libraryId" name="libraryId" class="form-select" asp-items="ViewBag.Library">
                    <option disabled selected>Select Genre</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
